.banner-box-translate {
  right: 0.5%;
  top: 1px;
  position: absolute;
  color: black;
}
.banner_box {
  width: 100vw;
  position: static;
  color: rgb(173, 168, 168);
  font-weight: bolder;
  margin-top: -10px;
  padding: 20px 0px 25px 20px;
  font-family: "Rubik", sans-serif;
  font-size: 70%;
}
